<div>
    <div class="mainDivHeading">
        <div class="mainDivSubHead" style='width:100%;'>
            <h3>Change Password</h3>
        </div>
        <button style="color: #fff;" type="button" class="close pull-right" aria-label="Close"
            (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <section>
        <div class="mainDiv">
            <form class="artistForm" #user="ngForm" (ngSubmit)="chanegpassword(user)" ngNativeValidate>
                
                <div>
                    <label>New password</label>
                    <input type="text" name="password" ngModel required />
                </div>
                
                <div>
                    <input id="loginSubmitBtn" type="submit" name="submit" value="Submit">
                </div>
            </form>

        </div>
    </section>
</div>